@import url("fonts.css");
* {margin: 0;}
h1 {text-align: center;font-size: 23px;padding: 0;font-weight: 600;}
h1:hover {color: #363636;}

body {width: 200px;margin: 20px 0 5px;background: -webkit-linear-gradient(#ffee54 60%, #fffa96 100%);font-family: "Signika";}

body#full {width: auto;background: #ffee54;}
body#full header {margin: 0 auto;}
body#full h1 {font-size: 50px;}
body#full h2 {font-weight: 300; border-bottom: 3px solid #f6f6f6; padding-bottom: 5px;}
body#full #content, body#full.login #content {width: 500px; margin: 10px auto; background: white; border-radius: 4px; padding: 10px; box-shadow: 0px 1px 5px rgba(0,0,0,0.2)}
body#full p {margin: 0.5em;}
body#full footer {opacity: 0.2; font-size: 13px; font-weight: 300;}
body#full footer small{opacity: 0.2;}
body#full dl div { border-bottom: 1px solid rgba(127,127,127,0.15); padding: 10px 20px;}
body#full dl dt {float: left; width: 200px; font-weight: 300;}
body#full dl dd {float: right; width: 250px;}
body#full dl dt label {display: inline; margin: 0; cursor: pointer;font-weight: 300; font-weight: lighter;}
body#full dl dt small {color:#c4c4c4; font-size: 11px; display: block; font-family: Helvetica,Arial,sans-serif; width: 170px;}
body#full dl dt small:hover {color: #333;}
body#full .disabled small:hover {color: #c4c4c4;}
body#full dl div:after, #bottombar:after {clear:both;content:".";display:block;height:0;visibility:hidden;}
body#full dl #rem_user:hover #forget {opacity: 1;}  
body#full #forget {color: #a8a8a8; text-transform: uppercase; border-radius: 4px; font-size: 14px; float: right; display: block; padding: 3px 5px; cursor: pointer; opacity: 0.5; font-weight: 300;}
body#full #forget:hover {color: white; background: #a8a8a8;  opacity: 1;} 
body#full #bottombar {padding-top: 10px;}
body#full #version {text-align: center;font-family: monospace; font-size: 10px; opacity: 0.3; margin: 3px 0 0 5px; padding: 0 0 5px;}
body#full #version:hover {opacity: 1;}
body#full #version a {color: #a4a4a4; text-decoration: none;background: url("../i/icon_lab.svg") left center no-repeat; padding: 3px 5px 5px 15px;}
body#full .disabled {color: #a8a8a8;}
body#full #aviso_logueado {text-align: center; background: #ffffe6; border-top: 1px solid #efedd6; border-bottom: 1px solid #efedd6; font-weight: lighter;}
body#full #aviso_logueado.alertoff {height: 0; padding: 0; margin: 0; overflow: hidden; border: none; opacity: 0;}

#offline,#alert {color: white; position: absolute; background: url('../i/icon_warn.svg') 4px center no-repeat rgba(256,0,0,0.7); font-size: 13px; font-weight: lighter; bottom: 0; left: 0; padding: 5px 5px 5px 26px; display: block; width: 169px; z-index: 3; display: none;}
#btnconfig {text-indent: -99999px;}
#btnconfig {position: absolute; display: block; width: 20px; height: 20px; background: url('../i/icon_settings.svg') center center no-repeat; top: 0; left: 0; opacity: 0.4;}
#btnconfig:hover {opacity: 1;}
#btncerrar {position: absolute; display: block; width: 16px; height: 16px; top:1px; right: 1px; opacity: 0.4; background: url('../i/icon_close.svg') center center no-repeat; text-indent: -1000000px;}
#btncerrar:hover {opacity: 1;}
#content{margin: 0 auto; width: 150px;}
label#remember_label {width: 100%; text-align: center; margin: 0 auto; font-weight: lighter; display: inline-block; font-size: 13px;}
input[type=text], input[type=password] {width: 130px; display: block; height: 17px; font-size: 14px; border:1px solid #ddd; padding: 5px; border-radius: 4px; margin: 10px auto;}
footer {color: #000;text-align: center; font-size: 10px; margin-top: 3px;opacity: 0.2;}
input[type=checkbox] {width: 10px;}
form {position: relative; z-index: 2;}
form.hidden {opacity: 0;z-index: -1;}
#loader { background: transparent url('../i/ajax-loader.gif') center center; display: block; width: 32px; height: 32px; z-index: 1; position: absolute; top:80px; left:82px;}
#loader.hidden{opacity: 0;}

#btnsub.disabled {color: #ccc;cursor: default;}
#btnsub.disabled:hover {background:-webkit-linear-gradient(#ededed,#dfdfdf);color: #ccc;}
#btnsub {background:-webkit-linear-gradient(#ededed,#dfdfdf);border-radius:3px;border:1px solid #dcdcdc;display:block;color: #777;font-size:14px;padding:4px 15px;margin: 5px auto;cursor: pointer;}
#btnsub:hover {background:-webkit-linear-gradient(#dfdfdf,#ededed); border-color: #ccc; color:#999;}
#version {transition: opacity 0.1s linear;}
#aviso_logueado, #forget, form, #loader, #btnconfig, #btncerrar, #btnsub {transition: all 0.1s linear;}